<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>Saip - Editar Item</title>
<head>
<link type="text/css" href="/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<link type="text/css" href="/css/common.css" rel="stylesheet" />
<link type="text/css" href="/css/ui.multiselect.css" rel="stylesheet" />common.css
<script type="text/javascript" src="${url('/javascript/jquery-ui-1.8.13.custom.min.js')}" >
</script>
<script type="text/javascript" src="${url('/javascript/ui.multiselect.js')}" >
</script>
<script type="text/javascript" src="${url('/javascript/ui-multiselect-es.js')}" >
</script>
<script type="text/javascript">
$().ready(function() {
	$(".tableform").validate({
			rules: {
				complejidad: {
				required: true,
				number: true,
				max: 10,
				min:1,
				},
				"antecesores":"required"
			},
			messages: {
			complejidad		: {
						required:"Por favor... Ingrese el valor complejida este es obligatorio.",
						number:"La complejidad tiene que ser un numero entero positivo.",
						max:"La complejidad no puede ser mayor que 10.",
						min:"La complejidad no puede ser menor que 1.",
						
			},
			"antecesores": "Por favor, seleccione una realcion en la fase anterior.",
		},
		errorClass: "fielderror"
	});

$('input#Fecha').each(function()
{
	$(this).datepicker({
		inline: true,
		dateFormat: "dd/mm/yy"
	});	
});	

$(function(){
  // choose either the full version
  $(".multiselect").multiselect();
});

});
</script>

<script type="text/javascript" src="${url('/javascript/add_more_attr.js')}">
</script>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>

  <div style="float:left;" class="crud_edit">
    <h2 style="margin-top:1px;">Editar Item</h2>
    <form class="required tableform" method="post" action="./">
    <div>
		<input type="hidden" value="PUT" id="_method" name="_method"/>
    </div>

    <table cellspacing="0" cellpadding="2" border="0">
        <tbody>

		<tr title="" class="even" id="version.container">
            <td class="labelcol">
                <label class="fieldlabel" for="version" id="version.label">Version</label>
            </td>
            <td class="fieldcol">
                <input readonly="true" type="text" value="${item.version}" id="version" class="textfield" name="version"/>             
            </td>
        </tr> 
		
		<tr title="" class="even" id="codigo.container">
            <td class="labelcol">
                <label class="fieldlabel" for="codigo" id="codigo.label">Codigo</label>
            </td>
            <td class="fieldcol">
                <input readonly="true" type="text" value="${item.codigo}" id="codigo" class="textfield" name="codigo"/>             
            </td>
        </tr>    
            
        <tr title="" class="even" id="name.container">
            <td class="labelcol">
                <label class="fieldlabel required" for="name" id="name.label">Nombre: </label>
            </td>
            <td class="fieldcol">
                <input type="text" value="${item.name}" id="name" class="textfield required" name="name"/>
            </td>
        </tr>
        
        <tr title="" class="odd" id="descripcion.container">
            <td class="labelcol">
                <label class="fieldlabel" for="descripcion" id="descripcion.label">Descripcion</label>
            </td>
            <td class="fieldcol">
                <textarea cols="50" rows="2" class="textarea" name="descripcion" id="descripcion">${item.descripcion}</textarea>
            </td>
        </tr>
        
        <tr title="" class="even" id="complejidad.container">
            <td class="labelcol">
                <label class="fieldlabel" for="complejidad" id="complejidad.label">Complejidad</label>
            </td>
            <td class="fieldcol">
                
                <select id="complejidad" class="textfield" name="complejidad">
                	<option value='1' selected="${('','true')[item.complejidad==1]}">1</option>
                	<option value='2' selected="${('','true')[item.complejidad==2]}">2</option>
                	<option value='3' selected="${('','true')[item.complejidad==3]}">3</option>
                	<option value='4' selected="${('','true')[item.complejidad==4]}">4</option>
                	<option value='5' selected="${('','true')[item.complejidad==5]}">5</option>
                	<option value='6' selected="${('','true')[item.complejidad==6]}">6</option>
                	<option value='7' selected="${('','true')[item.complejidad==7]}">7</option>
                	<option value='8' selected="${('','true')[item.complejidad==8]}">8</option>
                	<option value='9' selected="${('','true')[item.complejidad==9]}">9</option>       
                	<option value='10' selected="${('','true')[item.complejidad==10]}">10</option>
                </select>                
            </td>
        </tr>
        
        <tr py:for="attr in item.atributos_extra" title="" class="even" id="atributos_extra.container">
            <td class="labelcol">
                <label class="fieldlabel" 						 for="${attr.campo_extra.name}" id="attr_${attr.id}.label">${attr.campo_extra.name}</label><br/>
                <label style="font-size:10px; text-align:center" for="${attr.campo_extra.tipo}" id="attr_${attr.id}.label">(${attr.campo_extra.tipo})</label>
            </td>
            <td class="fieldcol">
                <input type="text" value="${attr.valor}" id="${attr.campo_extra.tipo}" class="${('','numbrer')[attr.campo_extra.tipo=='Numero']}" name="atributos_extra_${attr.id}"/>
                <input type="hidden" name="atributos_extra" value="${attr.id}"/>
            </td>
        </tr>
        
    </tbody>
    </table>
    <table>
    <th style="color:white">Relaciones en la misma fase</th>
    <py:if test="posibles_antecesores">
    <th style="color:white">Relaciones en la fase anterior</th>
    </py:if>
    <tr>
        <td>
        	<select id="padres" class="multiselect" multiple="multiple" name="padres">
        	<py:for each="pp in posibles_padres">
    		
			<div py:choose="">
				<option py:when="pp in item.padres" selected="true"  value="${pp.id}">${pp.name}</option>
				<option py:otherwise="" value="${pp.id}">${pp.name}</option>
			</div>    		
				
				
			</py:for>
			</select> 
        </td>
        <td>
        <py:if test="posibles_antecesores">
        	<select style="align:right" id="antecesores" class="multiselect" multiple="multiple" name="antecesores">
	        	<py:for each="pa in posibles_antecesores">
					<div py:choose="">
						<option py:when="pa in item.antecesores" selected="true"  value="${pa.id}">${pa.name}</option>
						<option py:otherwise="" value="${pa.id}">${pa.name}</option>
					</div>
				</py:for>
			</select>   
		</py:if>
		</td>
		</tr>
	</table>
	<table>
        <tr title="" class="odd" id="submit.container">
            <td class="labelcol" style="width:200px">
            </td>
            <td class="fieldcol">
                <input type="submit" value="Guardar" class="submitbutton"/>
            </td>
        </tr>
	</table>	
	</form>
  </div>
 
  <div style="height:0px; clear:both;"> &nbsp; </div>  

</body>
</html>
