<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude"  py:strip="">
  <xi:include href="header.html" />
  <xi:include href="footer.html" />
  <head py:match="head" py:attrs="select('@*')">
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/jquery.multiselect.css')}" />
    <script type="text/javascript" src="${url('/javascript/jquery.js')}">
    </script>

            <script type="text/javascript" src="${url('/javascript/jquery.notice.js')}">
            </script>
            <script type="text/javascript" src="${url('/javascript/flexigrid.pack.js')}">
            </script>
            <script type="text/javascript" src="${url('/javascript/flexigrid.js')}">
            </script>
            <script type="text/javascript" src="${url('/javascript/jquery.validate.js')}">
			</script>
            <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
            <title py:replace="''">
              Your title goes here
            </title>
            <meta py:replace="select('*')"/>
            <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
            <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/admin.css')}" />
            <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/flexigrid.css')}" />
            <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/flexigrid.pack.css')}" />
            <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/jquery.notice.css')}" />
          </head>
          <body py:match="body" py:attrs="select('@*')">
            ${header()}
            <ul id="mainmenu">
                  <span py:if="tg.auth_stack_enabled" py:strip="True">
                <li 
                    py:if="tg.predicates.has_any_permission('AdministrarTodo', 'AdministrarUsuarios', 'AdministrarRoles', 'AdministrarPermisos', 'AdministrarProyectos')"
                    id="admin"
                    class="first">


                <a href="${tg.url('/administrar/')}" class="${('', 'active')[defined('page') and page=='Administrar']}">
                  Administrar
                </a>
              </li>
              <li py:if="tg.predicates.in_group('Configuradores')" class="">

              <a href="${tg.url('/configurar/')}" class="${('', 'active')[defined('page') and page=='Configurar']}">
                Configurar
              </a>
            </li>
            <li py:if="tg.predicates.in_group('Desarrolladores')" class="">

            <a href="${tg.url('/desarrollar/')}" class="${('', 'active')[defined('page') and page=='Desarrollar']}">
              Desarrollar
            </a>
          </li>
            <li py:if="defined('referer')" class="">

            <a href="${referer}">
              &lt; ${title_nav} &gt;
            </a>
          </li>          

          <li py:if="request.identity" id="login" class="loginlogout">
          <a href="${tg.url('/logout_handler')}">
            Logout
          </a>
        </li>
        <li py:if="request.identity" id="Login" class="loginlogout">
        <a href="#">
          Logueado como: ${tg.identity['repoze.who.userid']}
        </a>
      </li>
    </span>
  </ul>
  <div id="content">

    <!--************************************************************************** -->
    <!--
      Aqui se asigna a la variable "flash" (en "flash=tg.flash_.....) el contenido del objeto tipo flash obtenido de
      tg.flash_obj.render('flash', use_js=False)
    -->
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div py:if="flash" py:content="XML(flash)" />
    </py:with>
    <!--************************************************************************** -->
    <!--
      py:replace="select('*|text()')" se encarga de colocar todo el contenido de las etiquetas <body></body> de
      master.html en las etiquetas <body></body> del documento que llama a master.html
    -->
    <div py:replace="select('*|text()')"/>
    <!-- End of main_content -->
    ${footer()}
  </div>
</body>
</html>
