<!DOCTYPE 
    html
    PUBLIC
    "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">


  <xi:include href="master.html" />
  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>
      SAIP·${page}·Proyectos 
    </title>
    <py:if test="conf">
    <script type="text/javascript" src="${url('/javascript/proyectos/proyectosConfigurarFlexi.js')}">
    </script>
    </py:if> 
    <py:if test="fases">
    <script type="text/javascript" src="${url('/javascript/proyectos/proyectosListaFlexi.js')}">
    </script>     
    </py:if>
    <py:if test="lineasbase">
    <script type="text/javascript" src="${url('/javascript/proyectos/proyectosListaFlexi.js')}">
    </script>
    </py:if>     
  </head>
  <body>
      <div py:if="conf" class="TablaProyectosConf">
        <table id="proyectosConfigurarFlexi">
        </table>
      </div>
    
      <div py:if="fases" class="TablaProyectosf">
        <table id="fasesConfigurarFlexi">
        </table>
      </div>
      
      <div py:if="lineasbase" class="TablaProyectoslb">
        <table id="lineasbaseConfigurarFlexi">
        </table>
      </div>      
    <br />
  </body>
</html>
