<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>
      SAIP·${page}·Fases
    </title>
    <py:if test=" not A">
    <script type="text/javascript" src="${url('/javascript/fases/fasesDesarrollarTiposDeItemFlexi.js')}">
    </script>
    </py:if>
    <py:if test="A">    
    <script type="text/javascript" src="${url('/javascript/fases/fasesAprobarItemsFlexi.js')}">
    </script>
    </py:if>
    <py:if test="D">
    <script type="text/javascript" src="${url('/javascript/fases/fasesDesarrollarItemsFlexi.js')}">
    </script>
    </py:if>            
    <py:if test="AD">
    <script type="text/javascript" src="${url('/javascript/fases/fasesAprobarDesarrollarItemsFlexi.js')}">
    </script>
    </py:if>    
  </head>
  <body>
    
    <div py:replace="tmpl_context.faseId(id='fid',value=faseId)">Input Form</div>
    <div py:replace="tmpl_context.faseNombre(id='fNombre',value=faseNombre)">Input Form</div>
    
      <div class="TablaTiposDeItem DeFase">
        <table id="fasesDesarrollarTiposDeItemFlexi">
        </table>
      </div>
      
      <py:if test="D">
      <div class="TablaDesarrolloItems">
        <table id="fasesDesarrollarItemsFlexi">
        </table>
      </div>
      </py:if>
      
      <py:if test="A">
      <div class="TablaAprobacionItems">
        <table id="fasesAprobarItemsFlexi">
        </table>
      </div>
      </py:if>
      
      <py:if test="AD">
      <div class="TablaAprobacionDesarrolloItems">
        <table id="fasesAprobarDesarrollarItemsFlexi">
        </table>
      </div>
      </py:if>          
    <br />
  </body>
</html>
