<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>SAIP - Nuevo ${model}</title>
<head>
<script type="text/javascript">
$().ready(function() {
	$(".tableform").validate({
		rules: {
			email: {
			required:true,
			email:true
			},
			name:{
			required:true
				},
			usuario_name:{
				required:true
					},			
			_password: {
				required: true,
				minlength: 4,
			},
			password: {
				required: true,
				minlength: 4,
				equalTo: "#_password"
			},
		},
		messages: {
			email:"Por favor... Ingrese una direccion de correo valida.",
			descripcion: "Por favor... Ingrese una descripcion para el tipo de item",
			_password: {
				required: "Por favor... Ingrese una contrasenha",
				minlength: "la longitud de la contrasena debe ser como minimo 4 caracteres",
			},
			password: {
				required: "Por favor... Ingrese la confirmacion de la contrasenha",
				minlength: "la longitud de la contrasena debe ser como minimo 4 caracteres",
				equalTo: "la confirmacion de la contrasena debe ser igual al de la contrasena",
			},		
		}
	});
	});
</script>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>
  <div style="float:left;" class="crud_add">
    <h2 style="margin-top:1px;">Nuevo $model</h2>
     ${XML(tmpl_context.widget(value=value, action='post'))}
  </div>
  <div style="height:0px; clear:both;"> &nbsp; </div>
</body>
</html>
