<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>
      SAIP·${page}·Fases
    </title>
    <script type="text/javascript" src="${url('/javascript/fases/faseVerLineasBaseFlexi.js')}">
    </script>
  </head>
  <body>
    <div py:replace="tmpl_context.faseId(id='faseId',value=faseId)">Input Form</div>
    <div py:replace="tmpl_context.faseNombre(id='faseNombre',value=faseNombre)">Input Form</div>
      <div class="LineasBase">
        <table id="faseVerLineasBaseFlexi">
        </table>
      </div>
      <div class="ItemsAprobados">
        <table id="faseVerItemsAprobadosFlexi">
        </table>
      </div> 
    <br />
  </body>
</html>
