<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>SAIP - Ver Rol</title>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
</head>
<body class="tundra">
  <div id="getting_started">
&nbsp;
<div>
<h1>$model Listing</h1>
</div>
<div>
<a href="${tg.url('../new')}">Nuevo</a> $model
</div>
<br/>
${XML(tmpl_context.widget(value))}
</div>
</body>
</html>
