<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>SAIP·Editar ${model}</title>
<head>
<script type="text/javascript">
$().ready(function() {
	$(".tableform").validate({
		rules: {
			name: "required",
			descripcion:{
				required: true,
				minlength: 2
			},
		},
		messages: {
			permiso_name: "Por favor... Ingrese el nombre para el Permiso",
			descripcion: {
			required: "Por favor... Ingrese una descripcion para el permiso",
			minlength: "La decriopcion tiene que ser mayor a dos caracteres",
		},		
		}
	});
	});
</script>
</head>
<body class="tundra">
  <div style="float:left;" class="crud_add">
    <h2 style="margin-top:1px;">Editar $model</h2>
<form class="required tableform" method="post" action="./">
    <div>
            <input type="hidden" value="${value['proyecto']}" id="proyecto" class="hiddenfield" name="proyecto"/>
            <input type="hidden" value="" id="sprox_id" class="hiddenfield" name="sprox_id"/>
            <input type="hidden" value="PUT" id="_method" class="sproxmethodputhiddenfield" name="_method"/>
    </div>
    <table cellspacing="0" cellpadding="2" border="0">
        <tbody><tr title="" class="even" id="name.container">
            <td class="labelcol">
                <label class="fieldlabel required" for="name" id="name.label">Nombre</label>
            </td>
            <td class="fieldcol">
                <input type="text" label="Nombre:" value="${value['name']}" id="name" class="textfield required" name="name"/>
            </td>
        </tr><tr title="" class="odd" id="descripcion.container">
            <td class="labelcol">
                <label class="fieldlabel" for="descripcion" id="descripcion.label">Descripcion</label>
            </td>
            <td class="fieldcol">
                <textarea cols="50" rows="2" class="textarea" name="descripcion" id="descripcion">${value['descripcion']}</textarea>
            </td>
        </tr><tr title="" class="even" id="orden.container">
            <td class="labelcol">
                <label class="fieldlabel" for="orden" id="orden.label">Orden</label>
            </td>
            <td class="fieldcol">
                <input type="text" size="5" readonly="true" value="${value['orden']}" id="orden" class="textfield" name="orden"/>
            </td>
        </tr><tr title="" class="odd" id="submit.container">
            <td class="labelcol">
            </td>
            <td class="fieldcol">
                <input type="submit" value="Guardar" class="submitbutton"/>
            </td>
        </tr>
    </tbody></table>
</form>
  </div>
  <div style="height:0px; clear:both;"> &nbsp; </div>
</body>
</html>
