<!DOCTYPE 
    html
    PUBLIC
    "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">


  <xi:include href="master.html" />
  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>
      SAIP·${page}·Proyectos
    </title>
    <py:if test="iniciado">
    <script type="text/javascript" src="${url('/javascript/proyectos/proyectoIniVerFasesFlexi.js')}">
    </script>
    </py:if>
    <py:if test="not iniciado">
    <script type="text/javascript" src="${url('/javascript/proyectos/proyectoNoIniVerFasesFlexi.js')}">
    </script>
   </py:if>
  </head>
  <body>
    <div py:replace="tmpl_context.proyectoId(id='pid',value=proyectoId)">Input Form</div>
    <div py:replace="tmpl_context.proyectoNombre(id='proyectoNombre',value=proyectoNombre)">Input Form</div>
      <div class="TablaFases">
        <table id="proyectoVerFasesFlexi">
        </table>
      </div>      
    <br />
  </body>
</html>
