<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>SAIP·Nuevo ${model}</title>
<head>
<script type="text/javascript" src="${url('/javascript/add_more_attr.js')}">
</script>
<script type="text/javascript">
$().ready(function() {
	$(".tableform").validate({
		rules: {
			name: "required",
			codigo: "required",
			descripcion:{
				required: true,
				minlength: 2
			},
		},
		messages: {
			name: "Por favor... Ingrese el un nombre para el tipo de item",
			descripcion: "Por favor... Ingrese una descripcion para el tipo de item",		
		}
	});
	});
</script>
</head>
<body class="tundra">
  <div style="float:left;" class="crud_add">
    <h2 style="margin-top:1px;">Nuevo $model</h2>
     ${XML(tmpl_context.widget(value=value, action='/configurar/tiposDeItem'))}
  </div>
  <div style="height:0px; clear:both;"> &nbsp; </div>
</body>
</html>
